In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
col_names = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
             'body-style','drive-wheels','engine-location','wheel-base','length',
             'width','height','curb-weight','engine-type','num-of-cylinders','engine-size',
             'fuel-system','bore','stroke','compression-ratio','horsepower','peak-rpm',
             'city-mpg','highway-mpg','price']

dataset = pd.read_csv('imports-85.data',header=None,names=col_names)

data = dataset.replace({'?':np.nan})

data.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [3]:
data = data.dropna()

data['price'] = data['price'].astype('int')

data = data.select_dtypes(exclude='object')
data.head()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg,price
3,2,99.8,176.6,66.2,54.3,2337,109,10.0,24,30,13950
4,2,99.4,176.6,66.4,54.3,2824,136,8.0,18,22,17450
6,1,105.8,192.7,71.4,55.7,2844,136,8.5,19,25,17710
8,1,105.8,192.7,71.4,55.9,3086,131,8.3,17,20,23875
10,2,101.2,176.8,64.8,54.3,2395,108,8.8,23,29,16430

In [4]:
x = data.iloc[:,:-1]
print(x.shape)

y = data.iloc[:,-1]
print(y.shape)

(159, 10)
(159,)

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(x,y)

print(model.feature_importances_)

In [ ]:
feature_imp = pd.Series(model.feature_importances_,index=x.columns)
feature_imp.nlargest(8).plot(kind='barh')