In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset = pd.read_csv('Employee-Attrition.csv')

In [3]:
dataset['Attrition'] = dataset['Attrition'].replace({'Yes':1,'No':0}) 

data = dataset.select_dtypes(include='int64')
data.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,49,0,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,37,1,1373,2,2,1,4,4,92,2,...,2,80,0,7,3,3,0,0,0,0
3,33,0,1392,3,4,1,5,4,56,3,...,3,80,0,8,3,3,8,7,3,0
4,27,0,591,2,1,1,7,1,40,3,...,4,80,1,6,3,3,2,2,2,2

In [4]:
x = data.drop('Attrition',axis=1)
print(x.shape)

y = data['Attrition']
print(y.shape)

(1470, 26)
(1470,)

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [6]:
from sklearn.feature_selection import VarianceThreshold
var_thresh = VarianceThreshold(threshold=0)
var_thresh.fit(x_train)

VarianceThreshold(threshold=0)

In [7]:
var_thresh.get_support()

array([ True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True])

In [8]:
sum(var_thresh.get_support())

24

In [9]:
constant_cols = [col for col in x_train.columns 
                 if col not in x_train.columns[var_thresh.get_support()]]

constant_cols

['EmployeeCount', 'StandardHours']

In [10]:
x_train = x_train.drop(constant_cols,axis=1)
x_test = x_test.drop(constant_cols,axis=1)